@model ReserveWash.ViewModels.Product.CarWashViewModel

@{
    ViewData["Title"] = "ایجاد کارواش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1>ایجاد کارواش</h1>

    <hr />
    
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control border rounded" placeholder="نام کارواش را وارد کنید" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control border rounded" placeholder="آدرس کارواش را وارد کنید" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Star" class="control-label"></label>
                    <input asp-for="Star" class="form-control border rounded" placeholder="امتیاز کارواش را وارد کنید" />
                    <span asp-validation-for="Star" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="ایجاد" class="btn btn-success btn-block" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-secondary mt-3" asp-action="Index">بازگشت به لیست</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
