@model ReserveWash.ViewModels.Product.CarWashViewModel

@{
    ViewData["Title"] = "ویرایش کارواش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h1>ویرایش کارواش</h1>

    <hr />

    <div class="row">
        <div class="col-md-6">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="MainImagePath" />
                <input type="hidden" asp-for="SubImage" value=0/>
                <input type="hidden" asp-for="CreateDate" value=0/>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control border rounded" placeholder="نام کارواش را وارد کنید" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control border rounded" placeholder="آدرس کارواش را وارد کنید" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control border rounded" placeholder="توضیحات را وارد کنید" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>تصویر اصلی</label>
                    <input asp-for="MainImage" id="MainImage" type="file" class="form-control border rounded" />
                    @if (!string.IsNullOrEmpty(Model.MainImagePath))
                    {
                        <img src="~/@Model.MainImagePath" style="max-width:200px; margin-top:10px;" />
                    }
                    <input type="hidden" name="MainImageSize" id="MainImageSize" value="0" />
                </div>

                <div class="form-group">
                    <label>تصویر فرعی</label>
                    <input asp-for="SubImage" id="SubImage" type="file" class="form-control border rounded" />
                    @if (!string.IsNullOrEmpty(Model.SubImagePath))
                    {
                        <img src="~/@Model.SubImagePath" style="max-width:200px; margin-top:10px;" />
                    }
                    <input type="hidden" name="SubImageSize" id="SubImageSize" value="0" />
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="ذخیره" class="btn btn-primary btn-block" />
                </div>
            </form>

        </div>
    </div>

    <div>
        <a class="btn btn-secondary mt-3" asp-action="Index">بازگشت به لیست</a>
    </div>
</div>


@section Scripts {
    @{

    await Html.RenderPartialAsync("_ValidationScriptsPartial");

}
}
